:root { 
--white_A700_b2:#ffffffb2; 
--light_blue_300:#55c6ff; 
--blue_50_cc:#ecf9ffcc; 
--indigo_A100:#7d89ff; 
--amber_A100:#ffe17d; 
--teal_100:#b4d2d7; 
--gray_900_0c:#0606400c; 
--black_900_01:#00000b; 
--green_A700:#00aa63; 
--black_900_06:#00001f; 
--black_900_03:#00000a; 
--gray_900_0f:#0606400f; 
--black_900_02:#020225; 
--red_500_33:#ff4f3833; 
--black_900_05:#0c0202; 
--red_A200_01:#ff3650; 
--black_900_04:#040a06; 
--teal_A700:#0ac1a7; 
--blue_gray_100:#d0dbee; 
--blue_gray_300:#8f8fa6; 
--orange_A400:#ff9100; 
--red_A200:#ff5d70; 
--amber_300:#ffd164; 
--blue_50:#ecf9ff; 
--gray_900_5e:#05053f5e; 
--gray_900_5f:#05053f5f; 
--blue_gray_400_01:#6fa5aa; 
--white_A700:#ffffff; 
--white_A700_5e:#ffffff5e; 
--blue_gray_50:#edf6f3; 
--red_300:#e6646e; 
--indigo_A200:#6a78f6; 
--red_500:#ff3032; 
--amber_A400:#ffbf00; 
--green_A400:#00dd7f; 
--black_900:#000000; 
--amber_A400_01:#fdbf00; 
--blue_50_01:#dbe8ff; 
--teal_A400_19:#00e5cc19; 
--teal_A400_01:#01e4cb; 
--blue_gray_400:#818196; 
--red_A100:#ff8087; 
--indigo_50:#dae5f7; 
--gray_900:#05053f; 
--gray_900_01:#060640; 
--light_blue_50:#ecfdff; 
--teal_50:#e1ebf0; 
--orange_300:#ffc350; 
--gray_900_07:#06064007; 
--teal_A400:#00e5cc; 
--orange_50:#fff6d8; 
--indigo_100:#c7c7fb; 
--white_A700_01:#fbfdff; 
}