
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/RudaBold.ttf"); font-family : "Ruda"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/RudaRegular.ttf"); font-family : "Ruda"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/RudaMedium.ttf"); font-family : "Ruda"; font-weight : 500;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/OpenSansRegular.ttf"); font-family : "Open Sans"; font-weight : 400;  }